__pycache__/
*.py[cod]
*$py.class
*.so
dist/
build/
*.egg-info/
*.egg
.eggs/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
.pytest_cache/
*.log
.env
.venv/
venv/
ENV/
*.raw
*.dmp
*.vmem
reports/
*.html
!src/ghostforensics/templates/report.html
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
